n8n-workflows/strategist-weekly-digest.json
{
  "name": "Strategist Weekly Digest",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [0],
              "triggerAtHour": 19,
              "triggerAtMinute": 0
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [240, 300],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.WEBHOOK_BASE_URL }}/api/strategist/trigger-plan",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Internal-Token",
              "value": "={{ $env.INTERNAL_API_TOKEN }}"
            }
          ]
        }
      },
      "id": "http-trigger-plan",
      "name": "Trigger Weekly Plan Generation",
      "type": "n8n-nodes-base.httpRequest",
      "position": [460, 300],
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true
          },
          "conditions": [
            {
              "leftValue": "={{ $json.status }}",
              "rightValue": "ok",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ]
        }
      },
      "id": "check-status",
      "name": "Check Response Status",
      "type": "n8n-nodes-base.if",
      "position": [680, 300],
      "typeVersion": 2
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_ADMIN_CHAT_ID }}",
        "text": "✅ Стратег: план контента на неделю сгенерирован и отправлен на одобрение.",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-success",
      "name": "Telegram Success Notification",
      "type": "n8n-nodes-base.telegram",
      "position": [900, 200],
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_ADMIN_CHAT_ID }}",
        "text": "❌ Стратег: ошибка при генерации плана. Проверьте логи приложения.",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "id": "telegram-error",
      "name": "Telegram Error Notification",
      "type": "n8n-nodes-base.telegram",
      "position": [900, 400],
      "typeVersion": 1.1
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Trigger Weekly Plan Generation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Weekly Plan Generation": {
      "main": [
        [
          {
            "node": "Check Response Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Response Status": {
      "main": [
        [
          {
            "node": "Telegram Success Notification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram Error Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["sprint-1", "strategist", "weekly-digest"],
  "meta": {
    "templateCredsSetupCompleted": true
  }
}
