n8n-workflows/uptime-monitor.json
{
  "name": "Uptime Monitor",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "cron_every_5min",
      "name": "Cron Every 5 Min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "={{$env.APP_BASE_URL}}/health",
        "options": {
          "timeout": 5000,
          "response": {
            "response": {
              "responseFormat": "json",
              "fullResponse": true
            }
          }
        }
      },
      "id": "http_health_check",
      "name": "Health Check",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "continueOnFail": true,
      "position": [480, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.statusCode || 0}}",
              "operation": "notEqual",
              "value2": 200
            }
          ]
        }
      },
      "id": "if_failure",
      "name": "If Failure",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [720, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{$env.TELEGRAM_BOT_TOKEN}}/sendMessage",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "chat_id",
              "value": "={{$env.TELEGRAM_ADMIN_CHAT_ID}}"
            },
            {
              "name": "text",
              "value": "=🔴 AI Marketing Team DOWN\nHealth check failed at {{$now}}\nExpected: 200, Got: {{$json.statusCode || \"timeout\"}}"
            }
          ]
        }
      },
      "id": "notify_on_failure",
      "name": "Notify Admin",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [960, 300]
    }
  ],
  "connections": {
    "Cron Every 5 Min": {
      "main": [[{"node": "Health Check", "type": "main", "index": 0}]]
    },
    "Health Check": {
      "main": [[{"node": "If Failure", "type": "main", "index": 0}]]
    },
    "If Failure": {
      "main": [[{"node": "Notify Admin", "type": "main", "index": 0}], []]
    }
  },
  "settings": {}
}
